---
// © 2025 Functional Software, Inc. dba Sentry
// SPDX-License-Identifier: Apache-2.0

import Blob from "../components/Blob.astro";
import Layout from "../layouts/Layout.astro";
import type { JobSet } from "../jobs/index.ts";
import jobSetRaw from "../cache/jobSet.json";
import { getMembersAsMap } from '../memberCollections.ts';

const jobSet = jobSetRaw as JobSet;
const memberMap = await getMembersAsMap();
---

<Layout
  title="Jobs"
  ogImageUrl="https://opensourcepledge.com/images/jobs-og.png"
  ogImageAlt="Join the companies pioneering Open Source sustainability."
  ogDescription="Join the companies pioneering Open Source sustainability."
>
  <div class="edge-blobs">
    <Blob kind="solid-fill-03" top="72%" left="-13rem"></Blob>
    <Blob kind="grad-dots-04" top="8%" right="-3rem"></Blob>
    <Blob kind="grad-dots-06" top="37%" right="-5rem"></Blob>
  </div>
  <div class="container">
    <Blob kind="solid-fill-05" top="20%" left="-16rem"></Blob>
    <Blob kind="solid-fill-04" top="90%" right="-20rem"></Blob>
    <Blob kind="grad-dots-03" top="10%" left="-15rem"></Blob>

    <main id="main-content">
      <section class="text-center">
        <h1>Jobs</h1>
        <p>
          <strong>
            Join the companies pioneering Open Source sustainability.
          </strong>
          <br>
          This page aggregates open job postings from our member companies, so that you can find a job at a company that
          matches your values.
        </p>
      </section>
      <section>
        <div class="jotw">
          <div class="featured-job badge-heading-container">
            <div class="badge-heading">
              <h2>Job of the week</h2>
            </div>
            <div class="flex-center flex-column">
              <div class="featured-job-head">
                <img src=`/images/members/browserbase/logo.webp` alt=`The HeroDevs logo`>
                <h2><a href=`/members/browserbase`>Browserbase</a></h2>
              </div>
              <h2 class="job-title">
                <a href="https://jobs.ashbyhq.com/Browserbase/1521ecbd-7d72-4c88-ba37-0e8b3aa57373" target="_blank">
                  Developer Advocate Lead
                </a>
              </h2>
            </div>
            <p>
              Want to get paid to talk, code, and talk about coding? Browserbase is hiring for a unique role combining
              programming, content creation and community building. And as their new Developer Advocate Lead, you could
              proudly work for a pioneering company that financially supports the Open Source maintainers they depend
              on.
              <a
                href="https://jobs.ashbyhq.com/Browserbase/1521ecbd-7d72-4c88-ba37-0e8b3aa57373"
                style="white-space: nowrap"
                target="_blank"
              >
                Apply now →
              </a>
            </p>
          </div>
          <div class="text-center previous-jotw">
            <details>
              <summary>See previous Jobs of the Week</summary>
              <div class="featured-job">
                <div class="flex-center flex-column">
                  <div class="featured-job-head">
                    <img src=`/images/members/herodevs/logo.webp` alt=`The HeroDevs logo`>
                    <h2><a href=`/members/herodevs`>HeroDevs</a></h2>
                  </div>
                  <h2 class="job-title">
                    <a href="https://www.herodevs.com/job-posting/sr-software-engineer-python" target="_blank">
                      Senior Software Engineer (Python)
                    </a>
                  </h2>
                </div>
                <p>
                  When software becomes deprecated, who makes sure it remains usable and secure? It could be you! HeroDevs
                  is looking for a Senior Software Engineer specialised in Python to join their Never-Ending Support team.
                  You'd be keeping critical technologies running smoothly, forever.
                  <a
                    href="https://www.herodevs.com/job-posting/sr-software-engineer-python"
                    style="white-space: nowrap"
                    target="_blank"
                  >
                    Apply now →
                  </a>
                </p>
              </div>
              <div class="featured-job">
                <div class="flex-center flex-column">
                  <div class="featured-job-head">
                    <img src=`/images/members/antithesis/logo.webp` alt=`The Antithesis logo`>
                    <h2><a href=`/members/antithesis`>Antithesis</a></h2>
                  </div>
                  <h2 class="job-title">
                    Developer Relations Lead
                  </h2>
                </div>
                <p>
                  Love the feeling of finding a reproducible bug? You might be interested in becoming a Developer Relations
                  Lead at Antithesis. This team of bug-finding experts are looking for someone to build and nurture a
                  community of developers who believe in
                  <a href="https://antithesis.com/" target="_blank">fully deterministic</a>
                  property-based testing.
                </p>
                <p>
                  <em>(Posting no longer available.)</em>
                </p>
              </div>
              <div class="featured-job">
                <div class="flex-center flex-column">
                  <div class="featured-job-head">
                    <img src=`/images/members/gitbook/logo.webp` alt=`The GitBook logo`>
                    <h2><a href=`/members/gitbook`>GitBook</a></h2>
                  </div>
                  <h2 class="job-title">
                    <a href="https://jobs.ashbyhq.com/GitBook/18363361-516d-4324-b9a1-203aaf8cf3bd">
                      Product Engineer
                    </a>
                  </h2>
                </div>
                <p>
                  GitBook is a platform that lets users collaboratively build and publish beautiful documentation. Are you an
                  experienced Typescript/Node developer looking to contribute to a product that has an impact on millions
                  of users, while mentoring engineers so they can do their best work?
                </p>
                <p>
                  Then consider dropping GitBook a line — you'd be working for a company that pioneers sustainable Open Source
                  by paying the maintainers it depends on.
                  <a href="https://jobs.ashbyhq.com/GitBook/18363361-516d-4324-b9a1-203aaf8cf3bd" style="white-space: nowrap">Apply now →</a>
                </p>
              </div>
              <div class="featured-job">
                <div class="flex-center flex-column">
                  <div class="featured-job-head">
                    <img src=`/images/members/bolt/logo.webp` alt=`The Bolt logo`>
                    <h2><a href=`/members/bolt`>Bolt</a></h2>
                  </div>
                  <h2 class="job-title">
                    Senior Software Engineer (TypeScript/Node.js)
                  </h2>
                </div>
                <p>
                  Bolt are looking for an engineer to advance web computing by working on WebContainer, the first-ever
                  in-browser WebAssembly-based operating system. The job is remote and gives you a high degree of autonomy.
                </p>
                <p>
                  But more than that, you'd be getting paid to be an Open Source contributor to projects such as Node.js,
                  Next.js and others. Sound good?
                </p>
                <p>
                  <em>(Posting no longer available.)</em>
                </p>
              </div>
              <div class="featured-job">
                <div class="flex-center flex-column">
                  <div class="featured-job-head">
                    <img src=`/images/members/astral/logo.webp` alt=`The Astral logo`>
                    <h2><a href=`/members/astral`>Astral</a></h2>
                  </div>
                  <h2 class="job-title">
                    <a href="https://jobs.ashbyhq.com/Astral/84cf53c0-d584-47c6-bff0-07ec97c85093">
                      Software Engineer, Build Systems & Linkers
                    </a>
                  </h2>
                </div>
                <p>
                  Astral have built
                  <a href="https://github.com/astral-sh/ruff">Ruff</a>,
                  an extremely fast Python linter and formatter;
                  and
                  <a href="https://github.com/astral-sh/uv">uv</a>,
                  a comprehensive Python package manager — two of the fastest-growing developer tools ever.
                </p>
                <p>
                  Now, Astral is looking for a developer to work on build systems and linkers, as part of a remote, highly
                  distributed team with competitive pay. And best of all —
                  <em>you'd be getting paid to be an Open Source maintainer</em>.
                  <a href="https://jobs.ashbyhq.com/Astral/84cf53c0-d584-47c6-bff0-07ec97c85093">Apply now →</a>
                </p>
              </div>
            </details>
          </div>
        </div>

        {Object.keys(jobSet.companies).map((memberId) =>
          jobSet.companies[memberId].length > 0 && (
            <div class="job-set">
              <div class="job-set-head">
                <img src=`/images/members/${memberId}/logo.webp` alt=`The ${memberMap[memberId].name} logo`>
                <h2><a href=`/members/${memberId}`>{memberMap[memberId].name}</a></h2>
              </div>
              <em>“{memberMap[memberId].description}”</em>
              <hr>
              {jobSet.companies[memberId].map((job) =>
                <a class="job-link" href={job.url}>{job.title}</a>
              )}
            </div>
          )
        )}
      </section>
    </main>
  </div>
</Layout>

<style>
  .jotw {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-light-bg);
  }
  .previous-jotw {
    summary + .featured-job {
      margin-top: 1rem;
    }
  }
  .featured-job {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 3px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--color-light-bg);
    &.badge-heading-container {
      padding-top: 2.5rem;
    }
    .featured-job-head {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;
      img {
        align-self: center;
        max-width: 4.5rem;
        border-radius: 0.5rem;
        @media (max-width: 450px) {
          max-width: 3.0rem;
        }
      }
      h2 {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.3;
        a:not(:hover) {
          color: var(--color-text);
          text-decoration: none;
        }
      }
    }
    p a {
      margin-left: 0.2rem;
    }
    .job-title {
      font-size: 1.2rem;
      margin-bottom: 0;
    }
  }
  .job-set {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--color-light-bg);
    border: 3px solid transparent;
    border-radius: 0.5rem;
    .job-set-head {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;
      img {
        align-self: center;
        max-width: 4.5rem;
        border-radius: 0.5rem;
        @media (max-width: 450px) {
          max-width: 3.0rem;
        }
      }
      h2 {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.3;
        a:not(:hover) {
          color: var(--color-text);
          text-decoration: none;
        }
      }
    }
    .job-link {
      position: relative;
      display: block;
      padding: 0.2rem 0;
      padding-right: 1.5rem;
      text-decoration: none;
      &:after {
        content: '→';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }
  }
</style>
