---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  name: string;
  title?: string;
  handle: string;
  imageUrl: string;
  sourceUrl?: string;
  hidden?: boolean;
}

const { name, title, handle, imageUrl, sourceUrl, hidden } = Astro.props;
---

<figure class="endorsement" hidden={hidden}>
  <blockquote>
    <slot></slot>
  </blockquote>
  <figcaption>
    <img src={imageUrl} alt=`An image for ${name}`>
    <div>
      <div>{name}{title && <small> ({title})</small>}</div>
      {sourceUrl ? (
      <a href={sourceUrl}
        ><small>{handle}</small></a
      > ) : (
        <small>{handle}</small>
      )}
    </div>
  </figcaption>
  <hr>
</figure>

<style>
  .endorsement {
    position: relative;
    margin: 0;
    hr {
      margin: 1.5rem auto;
      max-width: 10rem;
      border-color: var(--color-primary);
      border-width: 1px;
    }
    &:last-child hr {
      display: none;
    }
    blockquote {
      margin: 0;
      font-size: 1.2rem;
    }
    figcaption {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.7rem;
      line-height: 1.3;
      img {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
      }
    }
  }
</style>
