---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  member: MemberWithId;
}

const { member } = Astro.props;

import { getDollarsPerDev, fmtCurrency } from '../memberFormatting.ts';
import type { MemberWithId } from "../schemas/members.ts";
---

<a class="member sneaky" href={`/members/${member.id}`}>
  <img src=`/images/members/${member.id}/logo.webp` alt=`The ${member.data.name} logo`>
  <div class="details">
    <h2>{member.data.name}</h2>
    <span>{member.data.annualReports[0].averageNumberOfDevs} devs</span>
    <span>{fmtCurrency(getDollarsPerDev(member.data.annualReports[0]))} / dev</span>
  </div>
</a>

<style>
  a.member {
    display: flex;
    margin: 0;
    padding: 1rem;
    gap: 1.5rem;
    background-color: var(--color-light-bg);
    border: 3px solid transparent;
    @media (max-width: 450px) {
      padding: 0.5rem;
    }
    &:hover {
      border: 3px solid var(--color-secondary);
      text-decoration: none;
    }
    & > img {
      align-self: center;
      max-width: 4.5rem;
      @media (max-width: 450px) {
        max-width: 3.0rem;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.2rem;
      h2 {
        margin: 0;
        font-size: 1rem;
      }
    }
  }
</style>
