---
// © 2024 Vlad-Stefan Harbuz <vlad@vladh.net>
// SPDX-License-Identifier: Apache-2.0

import {
  getMembers, filterInactiveMembers, getDollarsPerDev, fmtCurrency, sortMembersByDevs,
} from '../members.ts';

const N_TO_CHOOSE = 5;
const members = sortMembersByDevs(filterInactiveMembers(await getMembers()));
---

<table class="mini-leaderboard table--lrr table--40-30-30">
  <thead>
    <tr>
      <th>Name</th>
      <th>
        <abbr title="Average number of employed full-time equivalent developers (in latest report)">Devs</abbr>
      </th>
      <th>
        <abbr title="USD paid / average number of employed full-time equivalent developers (in latest report)"
          >$/dev</abbr
        >
      </th>
    </tr>
  </thead>
  <tbody>
    {members.map((member, idx) => <tr hidden={idx >= N_TO_CHOOSE}>
      <td>
        <a class="sneaky" href={`/members/${member.id}`}>
          <img src={member.data.urlSquareLogoWithBackground} alt={`The ${member.data.name} logo`}>
          {member.data.name}
        </div>
      </td>
      <td>
        {member.data.annualReports[0].averageNumberOfDevs}
      </td>
      <td>
        {fmtCurrency(getDollarsPerDev(member.data.annualReports[0]))}
      </td>
    </tr>)}
  </tbody>
</table>

<style>
  tr {
    th {
      font-weight: normal;
      font-size: 0.9rem;
      padding-bottom: 0.3rem;
    }
  }
  img {
    max-width: 3.5rem;
    margin-right: 1rem;
  }
  a {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0.25rem 0
  }
</style>

<script>
  const N_TO_CHOOSE = 5;
  const PROBABILITY_TO_SKIP = 0.5;

  const $miniLeaderboards = document.querySelectorAll<HTMLElement>('.mini-leaderboard');
  $miniLeaderboards.forEach(($miniLeaderboard) => {
    const $rows = $miniLeaderboard.querySelectorAll<HTMLElement>('tbody tr');
    let nChosen = 0;
    const nTotal = $rows.length;
    $rows.forEach(($row, idx) => {
      const mustChoose = idx == 0 || (N_TO_CHOOSE - nChosen == nTotal - idx);
      const mustNotChoose = nChosen == N_TO_CHOOSE;
      if (mustNotChoose) {
        $row.hidden = true;
      } else if (mustChoose || Math.random() < PROBABILITY_TO_SKIP) {
        $row.hidden = false;
        nChosen++;
      } else {
        $row.hidden = true;
      }
    });
  });
</script>
