---
// © Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  name: string;
  title: string;
  date: string;
  imageUrl: string;
  sourceUrl: string;
  hidden?: boolean;
}

const { name, title, date, imageUrl, sourceUrl, hidden } = Astro.props;
---

<figure class="press-item" hidden={hidden}>
  <blockquote>
    <a href={sourceUrl} target="_blank">{title}</a>
  </blockquote>
  <figcaption>
    <img src={imageUrl} alt=`An image for ${name}`>
    <div>
      <div>{name}</div>
      <small>{date}</small>
    </div>
  </figcaption>
</figure>

<style>
  .press-item {
    position: relative;
    margin: 0;
    a {
      display: block;
      margin: 0;
      padding-bottom: 0.1rem; /* to counterbalance text-decoration */
      font-size: var(--font-size-l);
      line-height: var(--line-height-l);
      text-decoration: none;
      @media (max-width: 800px) {
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
      }
    }
    blockquote {
      margin: 0;
    }
    figcaption {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 10px;
      @media (max-width: 800px) {
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
      }
      img {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
      }
    }
  }
</style>
