---
// © 2024 Vlad-Stefan Harbuz <vlad@vlad.website>
// SPDX-License-Identifier: Apache-2.0

interface Props {
  name: string;
  title: string;
  date: string;
  imageUrl: string;
  sourceUrl: string;
  hidden?: boolean;
}

const { name, title, date, imageUrl, sourceUrl, hidden } = Astro.props;
---

<figure class="press-item" hidden={hidden}>
  <blockquote>
    <a href={sourceUrl} target="_blank">{title}</a>
  </blockquote>
  <figcaption>
    <img src={imageUrl} alt=`An image for ${name}`>
    <div>
      <div>{name}</div>
      <small>{date}</small>
    </div>
  </figcaption>
  <hr>
</figure>

<style>
  .press-item {
    position: relative;
    margin: 0;
    hr {
      margin: 1.5rem auto;
      max-width: 10rem;
      border-color: var(--color-primary);
      border-width: 1px;
    }
    &:last-child hr {
      display: none;
    }
    a {
      display: block;
      margin: 0;
      padding-bottom: 0.1rem; /* to counterbalance text-decoration */
      font-size: 1.2rem;
    }
    blockquote {
      margin: 0;
    }
    figcaption {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.7rem;
      line-height: 1.3;
      img {
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
      }
    }
  }
</style>
